
header {
    font-size: 1.8em;
}

#text_html{
    width: 99.5%;
    height: 200px;
    align-items: start;
    resize: none;
    font-size: 2em;
}

#live{
    font-size: 2em;
}

#count{
    text-align: right;
}

#live_coding>h2{
    font-size: 2.5em;
}

#progress_bar{
    width: 99.7%;
    height: 30px;
    background-color: grey;
    font-size: 1.5em;
}

#progress{
    width: 0%;
    height: 100%;
    background-color:#18DC54;
    transition: width 0.1s ease, background-color 1s ease;
}

