/* Credit Card */
/* section *{
    border: 1px solid red;
} */

body {
    padding: 0 20%;
}

header {
    text-align: center;
}

header>h1 {
    font-size: 2.5em;
    color: orangered;
}

header>p {
    font-size: 1.5em;
}

header>p>span {
    font-weight: bold;
    color: green;
}

#card {
    display: flex;
    justify-content: center;
}

#card_left, #card_right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#card_left {
    flex-direction: column;
}

/* Card */

#background {
    height: 250px;
    width: 400px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 15px;
}

#top {
    height: 60px;
}

#card_top {
    height: 55px;
}

#card_second {
    height: 55px;
    display: flex;
}

#card_second_left {
    height: 100%;
    width: 20%;
    background-color:rgb(175, 171, 171);
    margin: 0 0 20px 40px;
    border-radius: 8px;
}

#card_second_left>div {
    background-color:gainsboro;
    position: relative;
    top: 10px;
    height: 35px;
    margin: 0 20px 0 0;
    border-radius: 0 8px 8px 0;
}

#card_second_right {
    height: 100%;
    width: 80%;
}

#card_code {
    font-size: 1.8em;
    text-align: center;
    color: whitesmoke;
}

#card_bottom>div {
    display: flex;
    flex-direction: row;
}

#card_bottom_top {
    height: 45px;
}



/* Card  */
#card_right input {
    height: 25px;
}

#card_right>form>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
}

#card_right>form {
    display: flex;
    flex-direction: column;
}

#exp_cvc {
    display: flex;
    width: 99%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#labels {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}

#labels>div>input {
    width: 100%;
}

#date {
    border: solid 0.5px grey;
    border-radius: 5px 0 0 5px;
}

#crypt {
    border: solid 0.5px grey;
    border-radius: 0 5px 5px 0;
}

#pay {
    background-color: orangered;
    color: white;
    font-size: 1em;
    border: orangered;
    height: 40px;
    border-radius: 8px;
}